.container {margin: 0 auto;
	width: 75%;
	}
.clearfix { overflow: auto;  }
header {text-align:center;
	clear: both;
	color: #FF2200;
	padding: 10px;
	}

.sparks, .comments, .ideas, .groups {border-style: none;
	border-color: red;
	border-width: 3px;
	padding: 5px;
	margin: 5px;
	}
.sparks {font-family: 'Belleza', sans-serif;}
.sparks h2 {color: red;}
.ideas {font-family: 'Marcellus', serif;
	font-size: 18px;}
.ideas h2 {color: #FF8811;}
.comments {font-family: 'Buenard', serif;
	font-size: 18px;}
.comments h2 {color: #33DD00;}
.groups {font-family: 'Didact Gothic', sans-serif;}
.groups h2 {color: blue;}
h1 {font-family: 'Oxygen', sans-serif;}
.phrase {font-family: 'Orbitron', sans-serif;}

body {background-image:url(../images/bg/gradient_background.jpg);
background-repeat:repeat;
background-attachment:fixed;
background-position:center;}

.col {padding-top:20px;
	padding-bottom:10px;
	padding-left:10px;
	float:left;
	width:45%;
	
	padding: 5px;}

.colr {padding-top:20px;
	padding-bottom:10px;
	padding-left:10px;
	float:right;
	width:45%;
	
	padding: 5px;}

.col h2 {text-align: center;}
.colr h2 {text-align: center;}

.col img {display:block;
	margin-left:auto;
	margin-right:auto;}
.colr img {display:block;
	margin-left:auto;
	margin-right:auto;}

.col p {display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;}
.colr p {display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;}