// Place all the styles related to the authorizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #444;

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: $gray;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: #fff;
}

#main {
	width: 50%;
	margin: 40px auto;
}

ul {
	list-style-type: none;
}

.provider {
	background-color: rgba(0,255,0,.3);
	margin: 20px 0 20px 0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid $gray;
	
	.center {
		width: 2	00px;
		margin: 0 auto;
	}
	
	img {
		float: left;
		margin-right: 10px;
	}
	
	p {
		line-height: 60px;
		font-size: 18px;
		font-weight: bold;
	}
}

.provider:active {
	background-color: rgba(0,255,0,.5);
}

a, a:hover, a:visited, a:active {
	color: $gray;
	text-decoration: none;
}