<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.description %></td>
    <td><%= link_to 'Show', ["v1", idea] %></td>
    <td><%= link_to 'Destroy', ["v1", idea], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
