<div id="main">

	<h1>Log in using one of these services:</h1>
	
	<ul>
	<% unless Rails.env.production? %>
		<li class="provider group"><a href="/auth/developer">
			<%= image_tag "http://placekitten.com/64/64", :size => "64x64" %><p>Developer</p><div class="arrow-right"></div>
		</a></li>
	<% end %>
	<% for provider in %w[twitter facebook] %>
		<li class="provider group"><a href="/auth/<%= provider %>">
			<%= image_tag "#{provider}_64.png", :size => "64x64" %><p><%= provider.capitalize %></p><div class="arrow-right"></div>
		</a></li>
	<% end %>
	</ul>

</div>