<h1>Listing tag_linkers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tag_linkers.each do |tag_linker| %>
  <tr>
    <td><%= link_to 'Show', tag_linker %></td>
    <td><%= link_to 'Edit', edit_tag_linker_path(tag_linker) %></td>
    <td><%= link_to 'Destroy', tag_linker, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag linker', new_tag_linker_path %>
